flows/n8n/think-instance.json
{
  "name": "think-instance",
  "nodes": [
    {
      "id": "Start",
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "id": "Claude",
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "body": "{\"prompt\": \"TODO: dynamic prompt\"}",
        "headers": {
          "x-api-key": "={{$env.CLAUDE_API_KEY}}"
        }
      },
      "name": "Claude (placeholder)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 300],
      "notes": "TODO: replace with official Claude node; use env CLAUDE_API_KEY"
    },
    {
      "id": "Format",
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response",
              "value": "={{$json.body}}"
            }
          ]
        }
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [760, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Claude (placeholder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude (placeholder)": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
